<% @post.comments.each do |comment| %>
  <div class="well">
    <p>
      <strong>
        <%= link_to comment.user.name, comment.user %>
      </strong>
      <%= t "comments.symbol" %>
      <%= comment.body %>
      <% if logged_in? && current_user.id == comment.user_id %>
        <%= link_to t("delete.button"), [comment.post, comment], method: :delete, data:{confirm: t("confirm") } %>
      <% end %>
      <br>
      <%= t "comments.created_at" %>
      <%= time_ago_in_words comment.created_at %>
      <%= t "comments.ago" %>
    </p>
  </div>
<% end %>
