<% if logged_in? && current_user.admin? %>
  <%= form_for :topic, url: topics_path do |f| %>
    <h1><%= t "topic.topic_new" %></h1>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>
<% else %>
    <h3><%= t "topic.deny" %></h3>
    <br>
    <%= link_to t("topic.back"), root_path, class: "btn btn-danger" %>
<% end %>
