<div class="well">
  <h1><%= t "posts.edit" %></h1>
  <%= form_for :post, url: post_path(@post), method: :patch do |f| %>
    <%= render "shared/error_postmessages" %>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :body %><br>
      <%= f.rich_text_area :body, class: "form-control", style: "overflow: auto; resize: vertical" %>
    </div>

    <div class="form-group">
      <%= f.collection_select :topic_id, Topic.all, :id, :name, :prompt => "Game Topic" %>
    </div>

    <div class="form-group">
      <%= f.submit t("posts.submit"), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
