<div class="well">
  <h1><%= t "posts.edit" %></h1>
  <%= form_for :post, url: post_path(@post), method: :patch do |f| %>
    <%= render "shared/error_postmessages" %>

    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>


    <%= f.label :body %><br>
    <%= f.rich_text_area :body, class: "form-control", style: "overflow: auto; resize: vertical" %>

    <%= f.submit t("posts.submit"), class: "btn btn-primary" %>
  <% end %>
</div>
