<% provide :title, t("posts.title") %>

<div class="col-md-3">
  <div class="search">
    <%= t "search.title" %>
    <%= form_tag "", url: posts_path, role: "search", method: :get do %>
      <p>
        <%= text_field_tag :search, @search_term, placeholder: "Search..." %>
        <%= submit_tag :search %>
      </p>
    <% end %>
  </div>
  <%= render :partial => "topics/nav" %>
</div>

<div class="col-md-7">
  <%= render "posts/list" %>
  <div class="pagination">
    <%= paginate @posts %>
  </div>
</div>
