<% provide :title, t("posts.title") %>
<% @posts.each do |post| %>
  <div class="well">
    <h1><%= post.title %></h1>
    <p>
      <h2><%= post.body %></h2>
    </p>
    <%= t "posts.created_at" %>
    <%= link_to post.user.name, post.user %>
    <%= time_ago_in_words post.created_at %>
    <%= t "posts.ago" %><br>
    <%= link_to t("read.more"), post_path(post), class: "btn btn-default" %>
  </div>
<% end %>
<%= paginate @posts %>
